{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>
    {% include "post_mata_inf.html" %}
    <p class="post-body">
        Описание:
        {{ post.body|linebreaks }}
    </p>
    {% with responses.count as total_comments %}
    <h2>
        {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
    {% endwith %}
    {% for comment in responses %}
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.author }}
                {{ comment.created_at }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}

{% endblock %}