{% extends "base.html" %}
{% block title %}Problems{% endblock %}
{% block content %}
    <h1>Problems</h1>
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h2>
        {{ post.body|truncatewords:30|linebreaks }}
        <p class="date">
            Published at {{ post.created_at }} by {{ post.user }}
        </p>
        <h3>{{ post.comments.all.count }} комментариев.</h3>
    {% endfor %}

    {% include "paginator.html" with page=page_obj %}
{% endblock %}