body{
    /* background-color:#f4f4f5;*/
  background-image: url("ФОН 5 (1).svg");
  /*background-repeat: repeat-x;*/
 background-attachment: fixed;
 }
 
 header{
     display: grid;
     place-items: center;
   }
   .logo{
     position: relative;
     width: 350px;
     height: 250px;
     border-style: solid;
     border-color: black;
     border-width: 2px;
     overflow:hidden;
     margin: 10px;
   }
   .foto{
     position:absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
   }
   main{
     display: grid;
     place-items: center;
     font-size: 19px;
   }
   .panel {
     width: 200px;
     height: 250px;
     border-style: solid;
     border-color: white;
     border-width: 1px;
     border-radius: 20px;
     margin: 10px;
     box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
   }
   .title{
     font-size: 20px;
     color: #80D1C0;
     text-align: center;
   }
   .field1, .field2{
     color: #80D1C0;
     text-align: center;
    margin-bottom: 10px;
     margin-top: 30px;
   }
   
   .innerfield{
     color: #80D1C0;
     border-style: solid;
     border-color: #D9D9D9;
     border-width: 1px;
     border-radius: 15px;
   }
   .innerform{
     color: #000E5D;
     margin-top: 10px;
   }
   .form{
     text-align: center;
   }
   .enter{
     width: 100px;
     color: white;
     background: #80D1C0;
     margin-left: 50px;
     margin-top: 20px;
     border-style: solid;
     border-color: #80D1C0;
     border-width: 2px;
     border-radius: 20px;
   }
   .or{
     margin: 5px;
     text-align: center;
     color: #D9D9D9;
   }
   .regist{
     text-align: center;
   }
   .innerregist{
     border-style: solid;
     border-color: #80D1C0;
     border-width: 2px;
     border-radius: 20px;
     background: white;
     color: #D9D9D9;
   }
   