<div class="post-meta-inf">
    <p class="date">
        Published at {{ post.created_at }} by
        {% if post.is_anonymous %}
            anonymous
        {% else %}
            {{ post.user }}
        {% endif %}
    <p>
        Sections:
        {% for section in post.topics.all %}
            {{ section.name }}{% if not forloop.last %};{% endif %}
        {% endfor %}
    </p>
    <p>
        Type: {{ post.problem_type.title }}
    </p>
    <p>
        {% if post.is_closed %}
            Problem is already solved!
        {% else %}
            Problem is not solved yet.
        {% endif %}
    </p>
</div>